<!-- This example requires Tailwind CSS v2.0+ -->
<div
  class="fixed z-10 inset-0 overflow-y-auto hidden"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  data-buttonDownload-target='modalSHP'>
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
      <!-- This example requires Tailwind CSS v2.0+ -->
      <h1 class="text-center text-lg pb-2">Pilih Zona System Proyeksi TM-3 :</h1>
      <div class="bg-white shadow overflow-hidden sm:rounded-md">
        <ul class="divide-y divide-gray-200">
          <li class="text-center px-4 py-4 sm:px-6 hover:bg-gray-100 hover:text-gray-900">
            <%= link_to gps_member_berkas_path(
              'archive' => true,
              'q[created_at_gteq]' => @gteq_params,
              'q[created_at_lteq]' => @lteq_params,
              'esri_wkt' => 'tm3_zone_49.2'
              ), class: "group flex items-center px-4 py-2 text-sm text-gray-700" do %>
            TM-3 Zona 49.2
            <% end %>
          </li>
          <li class="text-center px-4 py-4 sm:px-6 hover:bg-gray-100 hover:text-gray-900">
            <%= link_to gps_member_berkas_path(
              'archive' => true,
              'q[created_at_gteq]' => @gteq_params,
              'q[created_at_lteq]' => @lteq_params,
              'esri_wkt' => 'tm3_zone_49.1'
              ), class: "group flex items-center px-4 py-2 text-sm text-gray-700" do %>
            TM-3 Zona 49.1
            <% end %>
          </li>
        </ul>
      </div>
      <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
        <button
          data-action="click->buttonDownload#hideModalSHP"
          type="button"
          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
