<%= render "shareds/table_title", name: 'Berkas Selesai' %>

<div class="p-4 bg-white border-b border-gray-200 sm:flex sm:items-center sm:justify-between ">
  <div class="mt-3 flex sm:mt-0 sm:ml-4">
        <%= search_form_for(@search, url: gps_member_berkas_path, method: 'get') do |f| %>
      <div class="mt-1 flex rounded-md shadow-sm">
        <div class="relative flex items-stretch flex-grow focus-within:z-10">

        <%= f.select 'village_id_eq', options_from_collection_for_select(@villages, 'id', 'name', @village_id), include_blank: true %>

        <%#= f.text_field :fullname_cont, value: @name_params, class: "focus:ring-blue-500 focus:border-blue-500 block w-full rounded-none rounded-l-md sm:text-sm border-gray-300", placeholder: 'Cari Pendaftar' %>
        </div>
        <%= f.submit class: "-ml-px relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-sm font-medium rounded-r-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500" do %>
        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
        <% end %>
      </div>
      <% end %>
  </div>

  <div class="mt-3 flex sm:mt-0 sm:ml-4" data-controller="buttonDownload">

    <%=
      render 'shareds/tables/button_download',
      xlsx_path: gps_member_berkas_path(format: :xlsx, 'q[created_at_gteq]' => @gteq_params, 'q[created_at_lteq]' => @lteq_params),
      pdf_path: gps_member_berkas_path(format: :pdf, 'q[created_at_gteq]' => @gteq_params, 'q[created_at_lteq]' => @lteq_params),
      shp_path: true
    %>

    <%= render 'member_gps/modal_download_shp' %>
  </div>
</div>

<div class="flex flex-col py-5">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8 py-1">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">

        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                No
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                <%= render "member_gps/column_header", title: 'Nama Pendaftar', column: 'on_behalf'%>
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                <%= render "member_gps/column_header", title: 'Status Sertipikat', column: 'certificate_status'%>
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                <%= render "member_gps/column_header", title: 'Jenis Hak', column: 'hak_type.name'%>
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                <%= render "member_gps/column_header", title: 'Nomor Hak', column: 'hak_number'%>
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                <%= render "member_gps/column_header", title: 'Jenis Alas Hak', column: 'alas_type.name'%>
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                <%= render "member_gps/column_header", title: 'No Alas Hak', column: 'alas_hak_number'%>
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                <%= render "member_gps/column_header", title: 'Kecamatan', column: 'sub_district_name'%>
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                <%= render "member_gps/column_header", title: 'Desa', column: 'village_name'%>
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Aksi
              </th>
            </tr>
          </thead>
          <tbody>
            <% @gps_plottings.each.with_index(1) do |gps, index|%>
              <tr class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= index %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= gps.on_behalf %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= gps.certificate_status %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= gps.hak_type_name %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= gps.hak_number %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= gps.alas_hak_type_name %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= gps.alas_hak_number %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= gps.sub_district_name %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= gps.village_name %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <%= render 'shareds/tables/button_delete', action_path: gps_member_berkas_delete_path({ submission_ids: [gps.id] }) %>
                  <%= render 'shareds/tables/button_detail', action_path: gps_member_permohonan_detail_path(gps.id) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render 'shareds/pagination', data: @gps_plottings, name: '' %>