<%= render "shareds/section_title", title_name: 'Proses pengajuan Gerakan Plotting Serentak' %>

<div class="my-5 bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">

<%= form_with(
              url: "/gps/member/permohonan/submit",
              method: "post",
              multipart: true
            ) do %>

  <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">

    <div>
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Data Diri
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Data diri yang ingin mengajukan permohonan.
        </p>
      </div>


      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="first_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Nama Pendaftar
            <span class="mt-2 text-sm text-red-500">*</span>
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input type="text" name="on_behalf" data-target="dashboards.onBehalf" class="max-w-lg block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" required>
          </div>
        </div>
        
        <div class="sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <div role="group" aria-labelledby="label-notifications">
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
              <div>
                <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-notifications">
                  Bertindak Atas
                  <span class="mt-2 text-sm text-red-500">*</span>
                </div>
              </div>
              <div class="sm:col-span-2">
                <div class="max-w-lg">
                  <div class="mt-4 space-y-4">
                    <% @act_fors.each do |act_for| %>
                      <div class="flex items-center">
                        <input data-action="click->dashboards#act_for_<%= act_for.first.downcase.delete(' ') %>" type="radio" id="act_for<%= act_for.last %>" name="act_for", value="<%= act_for.first %>" class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300">
                        <label for="act_for<%= act_for.last %>" class="ml-3 block text-sm font-medium text-gray-700">
                          <%= act_for.first %>
                        </label>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='hidden' data-target="dashboards.authorityLetter">
          <div class="hidden sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Surat Kuasa
          </label>
          <div class="mt-2 sm:mt-0 sm:col-span-2 dropzone dropzone-default dz-clickable"  data-controller="dropzone" data-dropzone-max-file-size="1" data-dropzone-max-files="1">
            <div class="space-y-1 text-center">
              <p class="text-sm text-gray-600">
                <%= file_field_tag 'authority_letter', direct_upload: true, data: { target: 'dropzone.input' }, required: true, class: "bg-white rounded-md font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
              </p>
              <div class="dropzone-msg dz-message">
                <svg class="dropzone-msg-title mx-auto h-12 w-12 text-blue-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
                <span class="dropzone-msg-desc text-xs text-gray-500">1 MB file size maximum. Allowed file types png, jpg.</span>
              </div>
            </div>
          </div>
        </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="first_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Nama Lengkap (Sesuai Sertipikat)
            <span class="mt-2 text-sm text-red-500">*</span>
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input type="text" name="fullname" data-target="dashboards.fullname" class="max-w-lg block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" required>
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="country" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Jenis Hak
            <span class="mt-2 text-sm text-red-500">*</span>
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <%= select_tag "hak_type", options_from_collection_for_select(@hak_types, "id", "name"), required: true, class: "max-w-lg block focus:ring-blue-500 focus:border-blue-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="first_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Nomor Hak
            <span class="mt-2 text-sm text-red-500">*</span>
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <%= text_field_tag 'hak_number', nil, required: true, maxlength: 5, class: "max-w-lg block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>


        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="country" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Kecamatan
            <span class="mt-2 text-sm text-red-500">*</span>
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <%= select_tag "sub_district", options_from_collection_for_select(@sub_districts, "id", "name"), required: true, class: "max-w-lg block focus:ring-blue-500 focus:border-blue-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="country" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Desa
            <span class="mt-2 text-sm text-red-500">*</span>
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <%= select_tag "village", options_from_collection_for_select(@villages, "id", "name"), required: true, class: "max-w-lg block focus:ring-blue-500 focus:border-blue-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>

        <div class="sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <div role="group" aria-labelledby="label-notifications">
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
              <div>
                <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-notifications">
                  Status Sertipikat
                  <span class="mt-2 text-sm text-red-500">*</span>
                </div>
              </div>
              <div class="sm:col-span-2">
                <div class="max-w-lg">
                  <div class="mt-4 space-y-4">
                    <% @certificate_statuses.each do |certificate_status| %>
                      <div class="flex items-center">
                        <input
                          type="radio"
                          name="certificate_status"
                          value="<%= certificate_status.first %>"
                          id="certificate_status<%= certificate_status.last %>"
                          class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300"
                          data-action="click->dashboards#certificate_status_<%= certificate_status.first.downcase.delete(' ') %>"
                        >
                        <label for="act_for<%= certificate_status.last %>" class="ml-3 block text-sm font-medium text-gray-700">
                          <%= certificate_status.first %>
                        </label>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='hidden' data-target="dashboards.alasHak">
          <div class="hidden sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Sertipikat atau Alas Hak
            <span class="mt-2 text-sm text-red-500">*</span>
          </label>
          <div class="mt-2 sm:mt-0 sm:col-span-2 dropzone dropzone-default dz-clickable"  data-controller="dropzone" data-dropzone-max-file-size="1" data-dropzone-max-files="1">
            <div class="space-y-1 text-center">
              <p class="text-sm text-gray-600">
                <%= file_field_tag 'alas_hak', direct_upload: true, data: { target: 'dropzone.input' }, required: true, class: "bg-white rounded-md font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
              </p>
              <div class="dropzone-msg dz-message">
                <svg class="dropzone-msg-title mx-auto h-12 w-12 text-blue-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
                <span class="dropzone-msg-desc text-xs text-gray-500">1 MB file size maximum. Allowed file types png, jpg.</span>
              </div>
            </div>
          </div>
        </div>
        </div>

        <div class='hidden' data-target="dashboards.groundSketch">
          <div class="hidden sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Sket Bidang Tanah
            <span class="mt-2 text-sm text-red-500">*</span>
          </label>
          <div class="mt-2 sm:mt-0 sm:col-span-2 dropzone dropzone-default dz-clickable"  data-controller="dropzone" data-dropzone-max-file-size="1" data-dropzone-max-files="1">
            <div class="space-y-1 text-center">
              <p class="text-sm text-gray-600">
                <%= file_field_tag 'ground_sketch', direct_upload: true, data: { target: 'dropzone.input' }, required: true, class: "bg-white rounded-md font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
              </p>
              <div class="dropzone-msg dz-message">
                <svg class="dropzone-msg-title mx-auto h-12 w-12 text-blue-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
                <span class="dropzone-msg-desc text-xs text-gray-500">1 MB file size maximum. Allowed file types png, jpg.</span>
              </div>
            </div>
          </div>
        </div>
        </div>

        <div class='hidden' data-target="dashboards.landBook">
          <div class="hidden sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Foto lokasi bidang tanah
            <span class="mt-2 text-sm text-red-500">*</span>
          </label>
          <div class="mt-2 sm:mt-0 sm:col-span-2 dropzone dropzone-default dz-clickable"  data-controller="dropzone" data-dropzone-max-file-size="1" data-dropzone-max-files="1">
            <div class="space-y-1 text-center">
              <p class="text-sm text-gray-600">
                <%= file_field_tag 'land_book[halaman_1]', direct_upload: true, data: { target: 'dropzone.input' }, required: true, class: "bg-white rounded-md font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
              </p>
              <div class="dropzone-msg dz-message">
                <svg class="dropzone-msg-title mx-auto h-12 w-12 text-blue-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
                <span class="dropzone-msg-desc text-xs text-gray-500">1 MB file size maximum. Allowed file types png, jpg.</span>
              </div>
            </div>
          </div>
        </div>
        </div>

        <div class='hidden' data-target="dashboards.measuringLetter">
          <div class="hidden sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Foto sertipikat atau alas hak
            <span class="mt-2 text-sm text-red-500">*</span>
          </label>
          <div class="mt-2 sm:mt-0 sm:col-span-2 dropzone dropzone-default dz-clickable"  data-controller="dropzone" data-dropzone-max-file-size="1" data-dropzone-max-files="1">
            <div class="space-y-1 text-center">
              <p class="text-sm text-gray-600">
                <%= file_field_tag 'measuring_letter[halaman_1]', direct_upload: true, data: { target: 'dropzone.input' }, required: true, class: "bg-white rounded-md font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
              </p>
              <div class="dropzone-msg dz-message">
                <svg class="dropzone-msg-title mx-auto h-12 w-12 text-blue-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
                <span class="dropzone-msg-desc text-xs text-gray-500">1 MB file size maximum. Allowed file types png, jpg.</span>
              </div>
            </div>
          </div>
        </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="cover_photo" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            <span>Upload KTP Pemilik Sertipikat</span><span class="mt-2 text-sm text-red-500">*</span><br/>
            <span>(Apabila dikuasakan, upload KTP Penerima Kuasa)</span>
          </label>

          <div class="dropzone dropzone-default dz-clickable mt-2 sm:mt-0 sm:col-span-2" data-controller="dropzone" data-dropzone-max-file-size="1" data-dropzone-max-files="1">
            <div>
              <div class="space-y-1 text-center">
                <p class="text-sm text-gray-600">
                  <%= file_field_tag :id_number, direct_upload: true, data: { target: 'dropzone.input' }, class: "bg-white rounded-md font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500", required: true %>
                </p>
                <div class="dropzone-msg dz-message needsclick text-gray-600">
                  <svg class="dropzone-msg-title mx-auto h-12 w-12 text-blue-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
                  <span class="dropzone-msg-desc text-sm">1 MB file size maximum. Allowed file types png, jpg.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Lokasi
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Lokasi tanah yang ingin diajukan.
        </p>
      </div>

      <div data-controller="maps" data-action="google-maps-callback@window->maps#initializeMap" data-action="google-maps-callback@window->maps#initializeMap" class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="first_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Cari Alamat
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input type="text" data-target="maps.field" data-action="keydown->maps#preventSubmit" name="search_location" id="search_location" class="max-w-lg block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="first_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Latitude
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input data-target="maps.latitude" type="text" name="lattitude" id="latitude" class="max-w-lg block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="first_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Longitude
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input data-target="maps.longitude" type="text" name="longitude" id="longitude" class="max-w-lg block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Alamat Tanah
            <span class="mt-2 text-sm text-red-500">*</span>
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <%= text_area_tag 'land_address', nil, data: { target: 'maps.address' }, rows: 10, cols: 25, required: true, class: "max-w-lg shadow-sm block w-full focus:ring-blue-500 focus:border-blue-500 sm:text-sm border-gray-300 rounded-md" %>
            <p class="mt-2 text-sm text-gray-500" id="email-description">* Lengkapi detail alamat jika kurang akurat.</p>
          </div>
        </div>

        <div class="bg-white overflow-hidden shadow rounded-lg">      
          <%= content_tag :div, nil, data: { target: "maps.map" }, class: "h-64" %>
        </div>
      </div>
    </div>
  </div>

  <div class="pb-5">
    <div class="flex justify-end">
      <%= submit_tag 'Daftar', class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-md font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"%>
    </div>
  </div>
<% end %>

</div>
