<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white shadow overflow-hidden sm:rounded-lg" data-controller='submissionDetail'>
  <div class="px-4 py-5 sm:px-6">
    
    <% if @submission.validation_service? %>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Detail Permohonan Pra Pelayanan Validasi
      </h3>
    <% end %>
    <% if @submission.space_pattern_service? %>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Detail Permohonan Pra Pelayanan Pola Ruang
      </h3>
    <% end %>
  </div>

  <div class="border-t border-gray-200">
    <dl>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Kode
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.submission_code %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Nomor Pendaftaran
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.registration_code %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Nomor Hak
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.hak_number %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Nama Pendaftar
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.on_behalf %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Bertindak Atas
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.act_for %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Nama Pemilik Sertipikat
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" data-target='submissionDetail.fullname'>
          <%= @submission.fullname %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Jenis Hak
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" data-target='submissionDetail.hakName'>
          <%= @submission.hak_name %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Alamat Tanah
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.land_address %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Desa
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.village_name %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Latitude
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" data-target='submissionDetail.lat'>
          <%= @submission.lattitude %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Longitude
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" data-target='submissionDetail.lng'>
          <%= @submission.longitude %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Maps
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class='border border-gray-200 rounded-md divide-y divide-gray-200'>
            <div class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">
              <div style="height: 400px;width: 100%;" data-target="submissionDetail.map"></div>
            </div>
          </div>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          KTP
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class='border border-gray-200 rounded-md divide-y divide-gray-200'>
            <% if @submission.image_id_number.nil?  %>
              <p class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">Dokumen tidak tersedia</p>
            <% else %>
              <div class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">
                <a href="<%= url_for(@submission.image_id_number) %>" target='blank'>
                  Lihat Dokumen
                </a>
              </div>
            <% end %>
          </div>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Surat Kuasa
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class='border border-gray-200 rounded-md divide-y divide-gray-200'>
            <% if @submission.image_authority_letter.nil?  %>
              <p class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">Dokumen tidak tersedia</p>
            <% else %>
              <div class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">
                <a href="<%= url_for(@submission.image_authority_letter) %>" target='blank'>
                  Lihat Dokumen
                </a>
              </div>
            <% end %>
          </div>
        </dd>
      </div>

      <div class="bg-gray-5 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Foto sertipikat atau alas hak
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <% if @submission.image_measuring_letter.nil? || @submission.image_measuring_letter.empty?  %>
            <p class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">Dokumen tidak tersedia</p>
          <% else %>
            <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
            <% @submission.image_measuring_letter.each do |row| %>
              <li class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">
                <a href="<%= url_for(row.image) %>" target='blank'>
                  Lihat Dokumen
                </a>
              </li>
            <% end %>
            </ul>
          <% end %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Foto lokasi bidang tanah
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <% if @submission.image_land_book.nil? || @submission.image_land_book.empty? %>
            <p class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">Dokumen tidak tersedia</p>
          <% else %>
            <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
            <% @submission.image_land_book.each do |row| %>
              <li class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">
                <a href="<%= url_for(row.image) %>" target='blank'>
                  Lihat Dokumen
                </a>
              </li>
            <% end %>
            </ul>
          <% end %>
        </dd>
      </div>
    </dl>
  </div>

</div>
