<%= render 'shareds/section_title', title_name: 'Member' %>

<div class="p-4 bg-white border-b border-gray-200 sm:flex sm:items-center sm:justify-between ">
  <div class="mt-3 flex sm:mt-0 sm:ml-4">
    <%= render 'shareds/tables/form_total_entries', action_path: superadmin_member_url %>
  </div>

  <div class="mt-3 flex sm:mt-0 sm:ml-4">
    <%= link_to sa_new_member_path, method: 'get', class: "ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" do %>
      <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
      </svg>
      Tambah Member
    <% end %>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col py-5">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200" data-controller="selectAllCheckbox">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                <input
                  type="checkbox"
                  data-action="click->selectAllCheckbox#set_checkbox"
                  <%= session[:is_check_all] ? 'checked' : '' %>
                >
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Email
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                No. Telp
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Jenis Member
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody data-selectAllCheckbox-target="allCheckbox">

            <% @members.each.with_index(1) do |row, index| %>
              <tr class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= check_box_tag "submission_ids[]",
                    row.id,
                    (session['submission_ids'].include?(row.id.to_s) rescue false),
                    data: {
                      controller: 'tableData',
                      action: 'change->tableData#setSessionValue',
                      tableData_target: 'item'
                    }
                  %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= row.username %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= row.email %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= row.phone_number %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= row.role_name %>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <%= render 'shareds/tables/button_edit', action_path: sa_edit_member_path(row) %>
                  <%= render 'shareds/tables/button_delete', action_path: sa_destroy_member_path(row) %>
                </td>
              </tr>
            <% end %>

          </tbody>
        </table>

        <div class="p-5">
          <%= render 'shareds/tables/button_delete', action_path: sa_destroy_all_member_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shareds/pagination", data: @members, name: '' %>
