<div class="bg-white shadow overflow-hidden sm:rounded-lg my-4" data-controller='submissionDetail'>

  <div class="bg-white px-4 py-5 sm:px-6">
    <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap">
      <div class="ml-4 mt-4">
        <% if @submission.validation_service? %>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Detail Permohonan Pra Pelayanan Validasi
          </h3>
        <% end %>

        <% if @submission.space_pattern_service? %>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Detail Permohonan Pra Pelayanan Pola Ruang
          </h3>
        <% end %>
      </div>
      <div class="ml-4 mt-4 flex-shrink-0">
        <%= link_to 'Kembali', :back, class: "relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-200">
    <dl>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Kode
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.submission_code %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Nomor Pendaftaran
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.registration_code %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Nomor Hak
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.hak_number %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Nama Pendaftar
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.on_behalf %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Bertindak Atas
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.act_for %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Nama Pemilik Sertipikat
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" data-target='submissionDetail.fullname'>
          <%= @submission.fullname %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Jenis Hak
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" data-target='submissionDetail.hakName'>
          <%= @submission.hak_name %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Alamat Tanah
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.land_address %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Desa
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.village_name %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Latitude
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" data-target='submissionDetail.lat'>
          <%= @submission.lattitude %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Longitude
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" data-target='submissionDetail.lng'>
          <%= @submission.longitude %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Maps
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class='border border-gray-200 rounded-md divide-y divide-gray-200'>
            <div class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">
              <div style="height: 400px;width: 100%;" data-target="submissionDetail.map"></div>
            </div>
          </div>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          KTP
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class='border border-gray-200 rounded-md divide-y divide-gray-200'>
            <% if @submission.image_id_number.nil?  %>
              Gambar tidak ditemukan
            <% else %>
              <div class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">
                <%= image_tag (@submission.image_id_number) %>
              </div>
            <% end %>
          </div>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Foto sertipikat atau alas hak
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <% if @submission.image_measuring_letter.nil? || @submission.image_measuring_letter.empty?  %>
            Gambar tidak ditemukan
          <% else %>
            <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
            <% @submission.image_measuring_letter.each do |measuring_letter| %>
              <li class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">
                <%= image_tag (measuring_letter.image) %>
              </li>
            <% end %>
            </ul>
          <% end %>
        </dd>
      </div>

      <div class="bg-white-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Foto lokasi bidang tanah
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <% if @submission.image_land_book.nil? || @submission.image_land_book.empty? %>
            Gambar tidak ditemukan
          <% else %>
            <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
            <% @submission.image_land_book.each do |land_book| %>
              <li class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">
                <%= image_tag (land_book.image) %>
              </li>
            <% end %>
            </ul>
          <% end %>
        </dd>
      </div>
    </dl>
  </div>
</div>


<div class="bg-white shadow overflow-hidden sm:rounded-lg my-4" data-controller='submissionDetail'>

  <div class="bg-white px-4 py-5 sm:px-6">
    <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap">
      <div class="ml-4 mt-4">
        <% if @submission.validation_service? %>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Detail Permohonan Pra Pelayanan Validasi
          </h3>
        <% end %>

        <% if @submission.space_pattern_service? %>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Detail Permohonan Pra Pelayanan Pola Ruang
          </h3>
        <% end %>
      </div>
      <div class="ml-4 mt-4 flex-shrink-0">
        <%= link_to 'Kembali', :back, class: "relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-200">
    <dl>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Kode
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.submission_code %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Nomor Pendaftaran
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.registration_code %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Nomor Hak
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.hak_number %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Nama Pendaftar
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.on_behalf %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Bertindak Atas
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.act_for %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Nama Pemilik Sertipikat
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" data-target='submissionDetail.fullname'>
          <%= @submission.fullname %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Jenis Hak
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" data-target='submissionDetail.hakName'>
          <%= @submission.hak_name %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Alamat Tanah
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.land_address %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Desa
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.village_name %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Latitude
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" data-target='submissionDetail.lat'>
          <%= @submission.lattitude %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Longitude
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" data-target='submissionDetail.lng'>
          <%= @submission.longitude %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Maps
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class='border border-gray-200 rounded-md divide-y divide-gray-200'>
            <div class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">
              <div style="height: 400px;width: 100%;" data-target="submissionDetail.map"></div>
            </div>
          </div>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt id="ktp" class="text-sm font-medium text-gray-500">
          KTP
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class='border border-gray-200 rounded-md divide-y divide-gray-200'>
            <% if @submission.image_id_number.nil?  %>
              <p class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">Dokumen tidak tersedia</p>
            <% else %>
              <div class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">
                <button id="button_ktp" value="<%= url_for(@submission.image_id_number) %>">
                  Lihat Dokumen
                </button>
              </div>
            <% end %>
          </div>
        </dd>
      </div>

      <div class="bg-gray-5 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt id="measure_letter" class="text-sm font-medium text-gray-500">
          Surat Ukur
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <% if @submission.image_measuring_letter.nil? || @submission.image_measuring_letter.empty?  %>
            <p class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">Dokumen tidak tersedia</p>
          <% else %>
            <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
            <% @submission.image_measuring_letter.each do |row| %>
              <li class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">
                <button id="button_measure_letter" value="<%= url_for(row.image) %>">
                  Lihat Dokumen
                </button>
              </li>
            <% end %>
            </ul>
          <% end %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt id="land_book" class="text-sm font-medium text-gray-500">
          Buku Tanah
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <% if @submission.image_land_book.nil? || @submission.image_land_book.empty? %>
            <p class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">Dokumen tidak tersedia</p>
          <% else %>
            <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
            <% @submission.image_land_book.each do |row| %>
              <li class="pl-3 pr-4 py-3 flex items-center justify-center text-sm">
                <button id="button_land_book" value="<%= url_for(row.image) %>">
                  Lihat Dokumen
                </button>
              </li>              
            <% end %>
            </ul>
          <% end %>
        </dd>
      </div>
    </dl>
  </div>
</div>

<%# MODAL %>
<div id="modal" class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-gray-500 bg-opacity-50 transform scale-0 transition-transform duration-300">
<!-- Modal content -->
<div class="bg-white w-1/2 h-5/6 p-5">
  <div class="h-1/6">
    <button id="closebutton" type="button" class="focus:outline-none">
      <!-- Hero icon - close button -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </button>
    <!--Close modal button-->
    <h1 class="text-xl text-center items-center justify-center" id="title-pdf">  </h1>
  </div>
  <div class="h-5/6 w-full flex items-center justify-center content-center">
    <embed id="content-pdf" class="h-full w-full" src="" type="application/pdf">
  </div>
</div>
</div>

<script>
  const button_land_book = document.getElementById('button_land_book')
  const button_measure_letter = document.getElementById('button_measure_letter')
  const button_ktp = document.getElementById('button_ktp')
  const button_authority_letter = document.getElementById('button_authority_letter')
  const closebutton = document.getElementById('closebutton')
  const modal = document.getElementById('modal')

  if(button_measure_letter) {
    button_measure_letter.addEventListener('click', () => {
      setupModal(button_measure_letter, "measure_letter")
      modal.classList.add('scale-100')
    })
  }

  if(button_ktp) {
    button_ktp.addEventListener('click', () => {
      setupModal(button_ktp, "ktp")
      modal.classList.add('scale-100')
    })
  }

  if(button_land_book) {
    button_land_book.addEventListener('click', () => {
      setupModal(button_land_book, "land_book")
      modal.classList.add('scale-100')
    })
  }

  if(button_authority_letter) {
    button_authority_letter.addEventListener('click', () => {
      setupModal(button_authority_letter, "authority_letter")
      modal.classList.add('scale-100')
    })  
  }

  function setupModal(element_button, element_id_title) {
    var title_data = document.getElementById(element_id_title)
    var title_modal = document.getElementById('title-pdf')
    title_modal.textContent = title_data.textContent
    var path_pdf = element_button.getAttribute('value')
    var content_pdf = document.querySelector('#content-pdf')
    content_pdf.setAttribute("src", path_pdf)
    content_pdf.style.visibility = 'visible';
  }

  closebutton.addEventListener('click', () => {
    modal.classList.remove('scale-100')
    const pdfViewer = document.getElementById('content-pdf')
    pdfViewer.style.visibility = 'hidden';
  })
</script>
