<%= render 'shareds/section_title', title_name: 'Setting' %>

<div class="py-4 px-2">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Jam</h3>
        <p class="mt-1 text-sm text-gray-600">
          Jam tutup kantor pertanahan.
        </p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form action="/settings/update" method="POST">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <div class="mt-1 flex rounded-md shadow-sm">
                  <span
                    class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm"
                  >
                    WIB
                  </span>
                  <input
                    type="time"
                    name="close_time"
                    value="<%= @close_hour %>"
                    id="close_time"
                    class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button
              name="button"
              value="btn_close_time"
              type="submit"
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="mt-10 sm:mt-0">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Hari Buka</h3>
        <p class="mt-1 text-sm text-gray-600">
          Hari buka kantor pertanahan.
        </p>
        <div class="invisible"> update 2 </div>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form action="/settings/update" method="POST">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <fieldset>
              <div class="mt-4 space-y-4">
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input
                      id="monday"
                      name="days[monday]"
                      type="checkbox"
                      <%= @monday ? 'checked' : '' %>
                      class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                    >
                  </div>
                  <div class="ml-3 text-sm">
                    <label
                      for="monday"
                      class="font-medium text-gray-700"
                    >
                      Senin
                    </label>
                  </div>
                </div>
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input
                      id="tuesday"
                      name="days[tuesday]"
                      type="checkbox"
                      <%= @tuesday ? 'checked' : '' %>
                      class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                    >
                  </div>
                  <div class="ml-3 text-sm">
                    <label
                      for="tuesday"
                      class="font-medium text-gray-700"
                    >
                      Selasa
                    </label>
                  </div>
                </div>
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input
                      id="wednesday"
                      name="days[wednesday]"
                      type="checkbox"
                      <%= @wednesday ? 'checked' : '' %>
                      class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                    >
                  </div>
                  <div class="ml-3 text-sm">
                    <label
                      for="wednesday"
                      class="font-medium text-gray-700"
                    >
                      Rabu
                    </label>
                  </div>
                </div>
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input
                      id="thursday"
                      name="days[thursday]"
                      type="checkbox"
                      <%= @thursday ? 'checked' : '' %>
                      class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                    >
                  </div>
                  <div class="ml-3 text-sm">
                    <label
                      for="thursday"
                      class="font-medium text-gray-700"
                    >
                      Kamis
                    </label>
                  </div>
                </div>
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input
                      id="friday"
                      name="days[friday]"
                      type="checkbox"
                      <%= @friday ? 'checked' : '' %>
                      class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                    >
                  </div>
                  <div class="ml-3 text-sm">
                    <label
                      for="friday"
                      class="font-medium text-gray-700"
                    >
                      Jumat
                    </label>
                  </div>
                </div>
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input
                      id="saturday"
                      name="days[saturday]"
                      type="checkbox"
                      <%= @saturday ? 'checked' : '' %>
                      class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                    >
                  </div>
                  <div class="ml-3 text-sm">
                    <label
                      for="saturday"
                      class="font-medium text-gray-700"
                    >
                      Sabtu
                    </label>
                  </div>
                </div>
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input
                      id="sunday"
                      name="days[sunday]"
                      type="checkbox"
                      <%= @sunday ? 'checked' : '' %>
                      class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                    >
                  </div>
                  <div class="ml-3 text-sm">
                    <label
                      for="sunday"
                      class="font-medium text-gray-700"
                    >
                      Minggu
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button
              name="button"
              value="btn_open_days"
              type="submit"
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>