<%= render 'shareds/section_title', title_name: 'Permohonan' %>
<%= render "admins/shareds/column_date_search", action_path: dashboards_admin_permohonan_path, action_data: @search %>
<%= render 'admins/applications/data_action' %>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col py-5">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden sm:rounded-lg">
        <table class="order-column stripe hover" data-controller="selectAllCheckbox">
          <thead>
            <tr>
              <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                <input
                  type="checkbox"
                  data-action="click->selectAllCheckbox#set_checkbox"
                  <%= session[:is_check_all] ? 'checked' : '' %>
                >
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                No
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                <%= render "admins/shareds/column_header", title: "Tgl Permohonan", column: 'created_at' %>
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                <%= render "admins/shareds/column_header", title: "Kode", column: 'submission_code' %>
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                <%= render "admins/shareds/column_header", title: "Nomor Hak", column: 'hak_number' %>
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                <%= render "admins/shareds/column_header", title: "Nama Pendaftar", column: 'on_behalf' %>
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                <%= render "admins/shareds/column_header", title: "Jenis Hak", column: 'hak_type_name' %>
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                <%= render "admins/shareds/column_header", title: "Kecamatan", column: 'sub_district_name' %>
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                <%= render "admins/shareds/column_header", title: "Desa", column: 'village_name' %>
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                <%= render "admins/shareds/column_header", title: "Status", column: 'submission_status' %>
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                Aksi
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200" data-target="selectAllCheckbox.allCheckbox">
            <% @submissions.each.with_index(@start_from) do |submission, index|%>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= check_box_tag "submission_ids[]",
                    submission.id,
                    (session['submission_ids'].include?(submission.id.to_s) rescue false),
                    data: {
                      controller: 'tableData',
                      action: 'change->tableData#setSessionValue',
                      target: 'tableData.item'
                    }
                  %>
                </td>
                <td class="text-center">
                  <span class="text-sm text-gray-900"><%= index %></span>
                </td>
                <td class="text-center">
                  <span class="text-sm text-gray-900"><%= submission.date %></span>
                </td>
                <td class="text-center">
                  <span class="text-sm text-gray-900"><%= submission.submission_code %></span>
                </td>
                <td class="text-center">
                  <span class="text-sm text-gray-900"><%= submission.hak_number %></span>
                </td>
                <td class="text-center">
                  <span class="text-sm text-gray-900"><%= submission.on_behalf %></span>
                </td>
                <td class="text-center">
                  <span class="text-sm text-gray-900"><%= submission.hak_name %></span>
                </td>
                <td class="text-center">
                  <span class="text-sm text-gray-900"><%= submission.sub_district_name %></span>
                </td>
                <td class="text-center">
                  <span class="text-sm text-gray-900"><%= submission.village_name %></span>
                </td>
                <td class="text-center">
                  <%= render "shareds/tables/status", status: submission.submission_status %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <% if submission.submission_status == 'selesai' %>
                    <%= render 'shareds/tables/button_detail', action_path: admin_detail_submission_path(submission) %>
                  <% else %>
                    <%= render 'shareds/tables/button_detail', action_path: admin_detail_submission_path(submission) %>
                    <%= render 'shareds/tables/button_revision', action_path: admin_member_revision_path(submission) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="p-5">
          <%= render 'shareds/tables/button_approved', action_path: dashboards_admin_permohonan_session_approve_path %>
          <%= render 'shareds/tables/button_delete', action_path: dashboards_admin_permohonan_session_delete_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shareds/pagination", data: @submissions, name: '' %>
