<div class="p-4 bg-white border-b border-gray-200 sm:flex sm:items-center sm:justify-between ">
  <div class="mt-3 flex sm:mt-0 sm:ml-4">
    <%= render 'shareds/tables/form_total_entries', action_path: dashboards_admin_permohonan_url %>
  </div>

  <div class="mt-3 flex sm:mt-0 sm:ml-4" data-controller="buttonDownload">

    <%=
      render 'shareds/tables/button_download',
      xlsx_path: dashboards_admin_permohonan_path(
        format: :xlsx,
        'per' => @per,
        method: :get,
        'export' => true,
        'q[created_at_gteq]' => @gteq_params,
        'q[created_at_lteq]' => @lteq_params,
        'q[fullname_or_submission_code_cont]' => @search_cont
      ),
      pdf_path: dashboards_admin_permohonan_path(
        format: :pdf,
        'per' => @per,
        method: :get,
        'export' => true,
        'q[created_at_gteq]' => @gteq_params,
        'q[created_at_lteq]' => @lteq_params,
        'q[fullname_or_submission_code_cont]' => @search_cont
      ),
      shp_path: true
    %>

    <%= render 'admins/applications/modal_download_shp' %>
  </div>
</div>
